<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="Dictionaries">
			<section name="StatusList" type="System.Configuration.DictionarySectionHandler"/>
		</sectionGroup>
	</configSections>
	<Dictionaries>
		<StatusList>
			<add value="Brand new" key="0"/>
			<add value="Good" key="1"/>
			<add value="Ok" key="2"/>
			<add value="Damaged" key="3"/>
			<add value="Very bad" key="4" />
		</StatusList>
	</Dictionaries>
</configuration>